<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dates"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".manager.InfoDate"
            android:exported="false" />
        <activity
            android:name=".secretary.SecretaryLogin"
            android:exported="false" />
        <activity
            android:name=".secretary.InfoToDate"
            android:exported="false" />
        <activity
            android:name=".secretary.EditDate"
            android:exported="false" />
        <activity
            android:name=".secretary.Add"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerLogin"
            android:exported="false" />
        <activity
            android:name=".manager.Dates"
            android:exported="false" />
        <activity
            android:name=".secretary.AddDate"
            android:exported="false" />
        <activity
            android:name=".admin.CreateAccounts"
            android:exported="false" />
        <activity
            android:name=".admin.EditSecretary"
            android:exported="false" />
        <activity
            android:name=".admin.EditManager"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".admin.Admin"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>